<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <request-character-encoding>UTF-8</request-character-encoding>

    <display-name>Task_Series_Catalog</display-name>

    <welcome-file-list>
        <welcome-file>/jsp/home.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>by.tsarionok.controller.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/signin</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/signup</url-pattern>
        <url-pattern>/films</url-pattern>
        <url-pattern>/admin/users</url-pattern>
        <url-pattern>/admin/user_add</url-pattern>
        <url-pattern>/admin/film_add</url-pattern>
        <url-pattern>/user/see_later</url-pattern>
        <url-pattern>/user/profile</url-pattern>
        <url-pattern>/film</url-pattern>
        <url-pattern>/about</url-pattern>
        <url-pattern>/user/watched</url-pattern>
    </servlet-mapping>
</web-app>
