@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: rgba(22, 172, 188, 0.26);
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.login {
    height: 10em;
    position: relative
}

.login p {
    text-align: center;
    margin: 10px auto;
}